apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config
  namespace: ${NAMESPACE}
data:
  config.yaml: |
    model_list:
      - model_name: model-default
        litellm_params:
          model: ${MODEL_PROVIDER}/${MODEL_DEFAULT_NAME}
          api_key: os.environ/GEMINI_API_KEY
